<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
  "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.aron.nlet.gpt5nano.promptvariants.20260504</string>

  <key>ProgramArguments</key>
  <array>
    <string>/usr/bin/caffeinate</string>
    <string>-dimsu</string>
    <string>/bin/bash</string>
    <string>scripts/run_gpt5nano_prompt_variants_2026-05-04.sh</string>
  </array>

  <key>WorkingDirectory</key>
  <string>/Users/aron/nips-linguistic-evolution-toolkit</string>

  <key>EnvironmentVariables</key>
  <dict>
    <key>PYENV_VERSION</key>
    <string>3.10.14</string>
    <key>PYTHONPYCACHEPREFIX</key>
    <string>/tmp/nlet-pycache</string>
    <key>LLM_PROVIDER</key>
    <string>direct</string>
    <key>WORKERS</key>
    <string>1</string>
  </dict>

  <key>RunAtLoad</key>
  <true/>

  <key>StandardOutPath</key>
  <string>/tmp/nlet_gpt5nano_prompt_variants.launchd.out</string>
  <key>StandardErrorPath</key>
  <string>/tmp/nlet_gpt5nano_prompt_variants.launchd.err</string>
</dict>
</plist>
